{{> header}}
<script>plusSlides(0)</script>
<main class="site-main">
   <div class="wrapper">

      <div class="slideshow-container">

         <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="./images/Neterra-slider.png" style="width:100%">
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
         </div>

         <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="./images/datacenter.png" style="width:100%">
            <div class="text">A accusamus alias doloremque libero natus, officia qui reprehenderit.</div>
         </div>

         <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="./images/network.png" style="width:100%">
            <div class="text">Enim illum sit velit.</div>
         </div>

         <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
         <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <div style="text-align:center">
         <span class="dot" onclick="currentSlide(1)"></span>
         <span class="dot" onclick="currentSlide(2)"></span>
         <span class="dot" onclick="currentSlide(3)"></span>
      </div>

      <article class="main-article cleaner">
         <header>
            <h3>Neterra is an independent telecom operator offering standard and complex services in Europe for over 20 years.</h3>
         </header>
         <section>
            <div class="align-right section-img-wrapper">
               <img class="section-img" src="./images/decor.png">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempus lorem nibh, quis vehicula quam eleifend vel. Sed sagittis urna a commodo fermentum. Donec fringilla volutpat mi, non ultrices dolor ultrices quis. Quisque vel lectus vel dui fermentum ornare. Mauris at suscipit orci. Sed convallis eget nisl ac fermentum. Ut tincidunt dui velit, ut malesuada nulla lobortis at. Morbi in gravida nulla. Donec ut massa imperdiet, pulvinar nisi quis, auctor dolor. Curabitur sed facilisis nibh, a tincidunt lectus. Duis interdum nibh quis porttitor facilisis. In sit amet nulla sed nibh tristique iaculis eu nec metus.</p>
            <p>Aliquam hendrerit egestas orci, at sollicitudin lectus mattis eu. Nunc elementum congue sagittis. Praesent in tempus nisl. Vestibulum consequat dapibus arcu, in ornare felis gravida et. Vestibulum ut diam lacinia, sagittis leo eu, convallis felis. Maecenas sit amet ipsum lobortis, sollicitudin sem a, blandit purus. Nulla vehicula dignissim augue id sagittis. Sed pulvinar erat non fermentum elementum. Quisque volutpat, nunc id congue finibus, dui dolor efficitur nunc, ac interdum lacus lacus in enim. Nullam mattis nulla a magna efficitur, et rhoncus nulla ullamcorper. Mauris fermentum dictum massa vitae porta. Maecenas rutrum augue eu lorem fringilla fringilla. Mauris posuere luctus libero et sodales. Donec posuere pharetra efficitur.</p>
         </section>
      </article>

   </div>
</main>
{{> footer}}