<script>goTop()</script>
<footer class="site-footer">
   <div class="wrapper">

      <section class="widget widget-about">
         <header>
            <h4>Neterra</h4>
         </header>
         <div class="widget-content">
            <p>We are the best! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi debitis earum ex iusto.</p>
         </div>
      </section>

      <section class="widget widget-sitemap">
         <header>
            <h4>Sitemap</h4>
         </header>
         <div class="widget-content">
            <ul>
               <li><a href="#/home">Home</a></li>
               <li><a href="#">News</a></li>
               <li><a href="#/list">List</a></li>
               <li><a href="#">Privacy Policy</a></li>
               <li><a href="#/account">Account</a></li>
               <li><a href="#">Terms</a></li>
            </ul>
         </div>
      </section>

      <section class="widget widget-contacts">
         <header>
            <h4>Contacts</h4>
         </header>
         <div class="widget-content">
            <ul>
               <li id="phone"><a href="tel:+35929751616">(+359) 2 975 16 16</a></li>
               <li id="mail"><a href="mailto:sales@neterra.net">sales@neterra.net</a></li>
               <li id="time">Monday - Friday: <time>8:00 - 17:00</time></li>
               <li id="location"><address>Mladost 1, Sofia, Bulgaria<br> 20A Andrey Saharov Blvd.<br> 2nd floor</address></li>
            </ul>
         </div>
      </section>

   </div>
</footer>
