.site-footer h1,
.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5,
.site-footer h6 {
      color: #FFFFFF;
      padding: 0.1em;
      border-bottom: 1px dashed #FFFFFF;
      }

.site-footer ul {
      margin: 0;
      padding: 0;
      }

.site-footer ul li {
      list-style: none outside;
      padding: 0;
      margin: 0;
      }

.site-footer ul li a {
      text-decoration: none;
      color: #FFFFFF;
      outline: none;
      }

.site-footer ul li a:hover,
.site-footer ul li a:focus {
      text-decoration: underline;
      }

.site-footer .wrapper {
      display: flex;
      justify-content: space-between;
      }

.site-footer {
      margin-top: auto;
      display: block;
      color: #FFFFFF;
      padding: 3em 0 2em 0;
      background-color: #008583;
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2321b6b4' fill-opacity='0.14' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
      }

/*.site-footer .widget:not(:last-child) {*/
/*      margin-right: 5%;*/
/*      }*/

.widget-sitemap ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap
      }

.widget-sitemap ul li {
      flex: 0 0 48%;
      }

.widget-contacts ul li:before {
      margin-right: 0.5em;
      content: '';
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      display: inline-block;
      width: 1.5em;
      }

#phone:before {
      content: '\f2a0';
      }

#mail:before {
      content: '\f0e0';
      }

#time:before {
      content: '\f017';
      }

#location:before {
      content: '\f5a0';
      }

#location {
      display: flex;
      }

.widget-about,
.widget-sitemap,
.widget-contacts {
      flex: 0 0 30%;
      }