{{> header}}
<script>dragAndDrop()</script>
<section class="list">
   <div class="wrapper">
      <header>
         <h2>Draggable List</h2>
      </header>

      <ul id="draggableList">
         <li>Item 1</li>
         <li>Item 2</li>
         <li>Item 3</li>
         <li>Item 4</li>
         <li>Item 5</li>
      </ul>
   </div>
</section>


{{> footer}}